@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contact {
  background: #8067f0eb;
  width: 64%;
  margin: 100px auto;
  padding: 70px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  background-image: url('../img/intro.png');
  background-size: cover;
}

.center h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 3px;
  color: var(--bg-color);
}

.center p {
  font-size: var(--p-font);
  color: var(--bg-color);
  line-height: 26px;
  margin-bottom: 25px;
}
